@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
  }
  body {
    background-color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    
    /* Add padding-top to compensate for the fixed header */
}



header {
   
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem 5%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Increase the z-index value */
    text-align: center;
    font-size: 13px;
}
header .container{
  width: 1200px;
  height: 3rem;
  background-color: #fcfcfc;
  margin-top: 1rem;
  border-radius: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
}


.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 16px;
    margin: 0; /* Remove default margin for h1 */
    font-weight: 500;
    color: #1e2e2c;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
}

li {
    height: 4rem; /* Set a fixed height for list items */
    display: flex;
    align-items: center;
    position: relative; /* Added position relative for dropdown */
}

li a {
    display: block;
    color: #1c1c1c;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
}
.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.div {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #1c1c1c;
    border: none;
    outline: none;
    border-radius: 5px;
}
.div1 {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border: 1px solid #1c1c1c;
    outline: none;
    border-radius: 5px;
}
.div1 a {
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.div a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.rotate-icon {
    transform: rotate(-45deg);
}

.sect{
    width: 100%;
    height:550px;
    background-image: url('/8.jpg');
    background-position: center;
    background-size: cover;
    
    
}

.section {
    /* Adjust this value to match the height of your header */
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    
    
    
}

.section .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5rem;
}

.section .left h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    text-align: left;
}

.section .left p {
    font-size: 13px;
    color: #fff;
    text-align: left;
}

.section .right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}


.hero {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   
}


.hero .hero__left {
     /* Use flex property to distribute available space */
    display: flex;
    flex-direction: column;
    /* Center content vertically */
    align-items: center; 
    margin-top: 1rem;
    
    /* Center content horizontally */
}




.hero .hero__left .container {
    width: 800px; /* Change width to auto */
    height: 60px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 8px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.hero .hero__left .container h1{
    color: #1c1c1c;
    font-size: 18px;
    align-items: center;
    
}
.hero .hero__left .container .flex button{
    height: 40px;
    background-color: #1c1c1c;
    font-size: 14px;
    color: #fff;
    width: 100%;
    outline: none;
   border: none;
    border-radius: 8px;
    
    cursor: pointer;

}


.hero .hero__left .container .flex {
    display: flex;
    width: 100%; /* Set width to 100% */
    gap: 1rem;
    align-items: center; /* Align items at the center */
    justify-content: center; /* Center items horizontally */
}
.hero .hero__left .container .flex  input{
    
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    border-radius: 5px;
    border: none;
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #acbebe;
    background-color: #fff;
    outline: none;
    padding: 5px;

}


.hero .hero__left .container .flex .select-menu {
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
    border-radius: 5px;
     
   
  }
  .hero .hero__left .container .flex .selectbtn {
    display: flex;
    height: 40px;
    border: 1px solid #acbebe;
    padding: 10px;
    background-color: #f6f6f6;
    font-weight: 400;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
   
  }
  .hero .hero__left .container .flex .select-menu .options{
    position: absolute;
    padding: 10px;
    margin-top: 2px;
    border-radius: 8px;
    
    display: none;
    background-color: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .hero .hero__left .container .flex .select-menu.active .options{
    display: block;
  }
  .hero .hero__left .container .flex .select-menu .options .option{
    width: 120px;
    display: flex;
    height: 30px;
    cursor: pointer;
    padding:  0 5px;
    border-radius: 5px;
    align-items: center;
    font-size: 13px;
   
  }
  .hero .hero__left .container .flex .select-menu .options .option:hover{
    background-color: #fff;
  }

  .hero .hero__left .container .flex .select-menu1 {
    width: 100%;
    height: auto;
     background-color: #f6f6f6;
     border-radius: 5px;
   
  }
  .hero .hero__left .container .flex .selectbtn1 {
    width: 100%;
    display: flex;
    height: 40px;
    border: 1px solid #acbebe;
    padding: 10px;
    background-color: #f6f6f6;
    font-weight: 400;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
   
  }
  .hero .hero__left .container .flex .select-menu1 .options1{
   
    position: absolute;
    padding: 10px;
    margin-top: 2px;
    border-radius: 8px;
    
    display: none;
    background-color: #f6f6f6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .hero .hero__left .container .flex .select-menu1.active .options1{
    display: block;
  }
  .hero .hero__left .container .flex .select-menu1 .options1 .option1{
    width: 120px;
    display: flex;
    height: 30px;
    cursor: pointer;
    padding:  0 5px;
    border-radius: 5px;
    align-items: center;
    font-size: 13px;
  }
  .hero .hero__left .container .flex .select-menu1 .options1 .option1:hover{
    background-color: #fff;
  }



.logos {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 60px;
    padding: 1rem 0;
    margin-bottom: 2rem;
   
}
.logos .lo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: max-content;
    height: 60px;
    padding: 1rem 0;
    
    
}
.logos .lo img{
    
    align-items: center;
    justify-content: center;
    
    border-radius: 5px;
    background-color: #f6f6f6;
}
.logos img:hover{
    cursor: pointer;
}

footer {
    margin-top: 2rem;
    background-color: #1c1c1c;
    color: #fff;
    padding: 80px 13% 70px;
    width: 100%;
    height: 400px;
    
  }
  
  .container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .footer-logo img {
    height: 50px; /* Adjust size as needed */
  }
  
  .footer-content h1 {
    font-size: 16px;
    color: #fff;
  }
  
  .footer-content ul {
    list-style: none;
    padding: 0;
    display: block;
  }
  
  .footer-content ul li {
    font-size: 13px;
    color: #fff;
    margin-top: -15px;
  }
  
  .footer-content ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  